# Python
__pycache__/
venv/
.venv/
.pytest_cache/
.ruff_cache/

# Environment & Config
config/.env*
!config/.env.example

# Data
data/*backup.sql

# Data & Exports
*.csv

# Logs
logs/
*.log

# Test coverage
.coverage

# chat runs
chat_runs*.sql
log.txt